{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],

  "settings": {
    "react": {
      "version": "18"
    }
  },
  "rules": {}
}
